<header class="headerr">
  <div>
    <h1 style="color: blueviolet;">Contact Our</h1>
  </div>
  <!-- <img src="lap.avif" alt="laptop"> -->
  <div>
    <h1>Customer Support Center</h1>  
  </div>
</header>

<form class="formm">
 <div class="headerrr">
  <div>
    <h4>Contact Information</h4>
  </div>
  <div>
    <h5>Please fill out your contact Information below.</h5>
  </div>
 </div>
 <div>
  <label class="infoo" for="fnd">Name*</label>
 </div>
 <div class="infooo">
  <input id="fn" type="text">
  <input id="ln" type="text">
 </div>
 <div class="infoooo">
  <label for="fn">first name</label>
  <label for="ln">last name</label>
 </div>

 <div>
  <label class="infoo" for="em">Email*</label>
  </div>
  <div class="infooo">
   <input id="em" type="email">
  </div>

<div>
 <label class="infoo" for="ph">Phone*</label>
</div>
<div class="infooo">
 <input id="ph" type="tel">
</div>

<div>
<label class="infoo" for="Add">Address*</label>
</div>
<div class="infooo">
 <input id="fn" type="text">

</div>

</form>

<router-outlet></router-outlet>
